<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projet_Cible_Electronique.My.MySettings.electronic_targetConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=electronic_target;password=password"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>